<header>
    <div class="navegacion">
        <div class="container">
            <!-- Logo + búsqueda + navegación -->
            <div class="row align-items-center">
                <div class="d-none d-md-block col-md-2 mr-auto logo">
                    <a href="#"><img src="../../../assets/img/logo2.png" alt="logo" height="80"></a>
                </div>
                <div class="col-12 col-md-6 order-2 order-md-1 buscar mb-2 mb-md-0">
                    <form action="">
                        <div class="row no-gutters">
                            <div class="col-10">
                                <input type="text" name="" id="" placeholder="Buscar productos">
                            </div>
                            <div class="col-2">
                                <button><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-2 d-flex justify-content-end ml-auto order-1 order-md-2 menu mb-2 mb-sm-0">
                    <!-- <a href="#" class="dropdown">Usuarios</a> -->
                    <a href="#"><i class="fas fa-shopping-cart mr-1"></i>Carrito vacío</a>
                    <!-- <div *ngIf="!nombre">
                        <a [routerLink]="['/login']" class="border-right ml-2">
                            Ingresar
                        </a>
                        <a [routerLink]="['/register']" class="ml-2">
                                Registrarse
                            </a>
                    </div> -->
                    <!-- <div *ngIf="nombre" class="imagen">                        
                        <img class="img-fluid" src="../../../assets/img/persona1.jpg" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <div>
        <h1> Demo </h1>
        A few demonstrations

        <h2>Default Parameters</h2>

        <lib-ngx-liquid-gauge></lib-ngx-liquid-gauge>

        <h2>Setting just the guage value</h2>

        <lib-ngx-liquid-gauge [value]="22"></lib-ngx-liquid-gauge>

        <h2>All the settings of the original Liquid Fill Gauge implementation are exposed as optional inputs to the Angular Component</h2>

        <lib-ngx-liquid-gauge [value]="51" [minValue]="0" [maxValue]="100" [circleThickness]="0.05" [circleFillGap]="0.05" [circleColor]="'#178BCA'" [waveHeight]="0.05" [waveCount]="1" [waveRiseTime]="1000" [waveAnimateTime]="3000" [waveRise]="true" [waveHeightScaling]="true"
            [waveAnimate]="true" [waveColor]="'#178BCA'" [waveOffset]="0" [textVertPosition]=".5" [textSize]="1" [valueCountUp]="true" [displayPercent]="true" [textColor]="'#045681'" [waveTextColor]="'#A4DBf8'">
        </lib-ngx-liquid-gauge>
        <hr><br>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quienes somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorías
                  </a>
                    <div class="dropdown-menu menu-categorias" aria-labelledby="navbarDropdown">
                        <h6>Ferretería</h6>
                        <!-- <div class="dropdown-divider"></div> -->
                        <a *ngFor="let categoria of ferreteria" class="dropdown-item" href="#">{{categoria.nombre}}</a>
                        <div class="dropdown-divider"></div>
                        <h6>Agropecuaria</h6>
                        <a *ngFor="let categoria of agricola" class="dropdown-item" href="#">{{categoria.nombre}}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Ofertas de la semana</a>
                </li>
                <li class="nav-item dropdown" *ngIf="nombre">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrador
                  </a>
                    <div class="dropdown-menu menu-categorias" aria-labelledby="navbarDropdown">
                        <!-- <h6>Menú administrador</h6> -->
                        <!-- <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" [routerLink]="['/articulos']">Artículos</a>
                        <a class="dropdown-item" [routerLink]="['/categorias']">Categorías</a>
                        <a class="dropdown-item disabled" [routerLink]="['/usuarios']">Usuarios</a>
                    </div>
                </li>

                <li class="nav-item dropdown" *ngIf="nombre">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{nombre}}
                      </a>
                    <div class="dropdown-menu menu-categorias" aria-labelledby="navbarDropdown">
                        <!-- <h6>Menú administrador</h6> -->
                        <!-- <div class="dropdown-divider"></div> -->
                        <div class="user-img">
                            <img class="img-fluid" src="../../../assets/img/persona2.jpg" alt="">
                        </div>
                        <div>
                            <p class="ml-2"><small>{{ usuario.email }}</small></p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mi cuenta</a>
                        <a class="dropdown-item" href="#">Mis pedidos</a>
                        <a class="dropdown-item pointer" (click)="logout()">Cerrar sesión</a>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!nombre">
                    <!-- <div *ngIf="!nombre"> -->
                    <a class="nav-link" [routerLink]="['/login']">
                                    Ingresar
                                </a>
                </li>
                <li class="nav-item" *ngIf="!nombre">
                    <a class="nav-link" [routerLink]="['/register']">
                                        Registrarse
                                    </a>
                    <!-- </div> -->
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar en Agrosocio" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form> -->
        </div>
    </nav>
</header>