<footer>

    <!-- <div class="container"> -->
    <div class="row align-items-center social">
        <div class="col d-flex justify-content-center">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col col-md-4 text-center">

            <img src="..." class="card-img-top" alt="...">

            <h2 class="card-title">Card title</h2>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>
        <div class="col col-md-4 text-center">

            <img src="..." class="card-img-top" alt="...">

            <h2 class="card-title">Card title</h2>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>
        <div class="col col-md-4 text-center">

            <img src="..." class="card-img-top" alt="...">

            <h2 class="card-title">Card title</h2>
            <p class="card-text">make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>

    </div> -->
    <!-- </div> -->
    <div class="copyright ">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <p>2019 todos los derechos reservados | Agrosocio SAS </p>
                <!-- <a href="#">Política de tratamiento de datos personales</a> -->
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <!-- <p>2019 todos los derechos reservados | Agrosocio SAS </p> -->
                <a class="politica" href="#">Política de tratamiento de datos personales</a>
            </div>
        </div>

    </div>
    <div></div>




</footer>