<div class="container contenedor">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <input #input (keyup)="buscarArticulo(input.value)" type="text" class="form-control" placeholder="buscar artículo">
                </div>

            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <button (click)="crearArticulo()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i> Crear Artículo
                        </button>
                    </div>
                    <h3 class="card-title">Artículos creados ( <small> {{total}} </small> )</h3>

                    <table class="table table-hover tabla">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articulo of articulos">
                                <td><img [src]="articulo.imagenes[0] | imagenes" class="img-50 img-rounded"></td>
                                <td>{{articulo.codigo}}</td>
                                <td>{{articulo.nombre}}</td>
                                <td width="100px">{{articulo.descripcion}}</td>
                                <td>{{articulo.precio}}</td>
                                <td>{{articulo.cantidad}}</td>
                                <td>
                                    <button class="btn btn-primary">
                                        <i class="fa fa-edit" alt="Editar"></i>
                                    </button> &nbsp;
                                    <button (click)="borrarArticulo(articulo._id)" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>